<launch>
  <arg name="resource_name" default="cost_map_visualisations/example.yaml" doc="ros package resource name of an image/yaml pair to load (e.g. cost_map_visualisations/example.yaml)"/>

  <node  pkg="cost_map" name="map_loader" type="map_loader">
    <param name="resource_name" value="$(arg resource_name)"/>
  </node>

  <node pkg="cost_map_visualisations" type="node" name="cost_map_visualization">
    <remap from="cost_map_visualization/cost_map" to="map_loader/cost_map"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gopher_planner_maps)/rviz/show_map_demo.rviz" />

</launch>
